@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    background-color: grey;
    font-family: 'Poppins', sans-serif;
    background-image: url(/static/images/e611f9f9a77651c943f13ae795f077fb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contentbox{
    background-color: white;
    
    width: 70%;
    margin: auto;
    margin-top: 23vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    
    text-align: center;
}

.header{
    text-align: center;
}

.the-form{
    display: flex;
    flex-direction: column;

    margin-top: 5vh;
}

.the-form button{
    height: 5vh;
    margin-top: 10vh;
    margin-bottom: 5vh;

    background-color: #D2D2D2;
    font-weight: 400;
    border-radius: 10px;
    border: none;
}

.the-form button:hover{
    cursor: pointer;
    background-color: darkgrey;
}

textarea{
    resize: none;
    font-family: 'Poppins', sans-serif;
}
